img{
  width: 150px;
  height: 150px;
  padding: 10px;
}
.goodName{
  font-weight: bolder;
  padding: 10px;
}
.nameAndButt{
  overflow: hidden;
}
.goodPrice{
  float: left;
  width: 60px;
  padding: 10px;
}
.good{
  margin-bottom: 20px;
}
.addbutton{
  background-color: #096ee3;
}
.addbutton:active{background-color:#40a9ff;}